.dashboard{
    display: flex;
    flex-direction: column;
    flex-grow: 11;
}

*{
    user-select: none;
}

.profileOverview, .transactions{
    background: #fff;
    background: #130f40;
    background: #0d0933;
    background: #080431;
    border-radius: 16px;
    /* margin: 10px; */
    margin:8px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 20px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    color: #fff;

}

.middleContent{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-right: 8px;
}

.graphArea{
    flex-grow: 1;
    background: #080431;
    border-radius: 16px;
    /* margin:8px; */
    margin-right: 0;
    margin-top:8px;
    text-align: center;
}

.trialImg{
    margin-top: auto;
    width: 400px;
}

.middleContentRightView{
    display: flex;
    flex-direction: column;
}

.exchangeRates{
    flex-grow: 1;
    background: #080431;
    border-radius: 16px;
    margin:8px;
    margin-bottom: 0;
    /* overflow-y: auto; */
    padding-top: 12px;
    padding-left: 5px;
}

.xchange-td{
    padding: 3px 14px;
    
}

.alertSelection{
    flex-grow: 1;
    background: #080431;
    border-radius: 16px;
    margin:8px;
    margin-bottom: 0;
    color: white;
    padding: 16px 18px;
}

.profileOverview{
    padding-top: 0;
    text-align: center;
    width: fit-content;
    padding-bottom: 0;
    width: 300px;
    position: fixed;
    top: 77px;
    top: 99px;
    right: 0;
    visibility: hidden;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    /* flex-grow: 2; */
}

.topNavbar{
    background: #ffffff;
    background: #706d91;
    background: #30336b;
    background: #130f40;
    background: #080431;
    position: fixed;
    z-index: 0;
    width: fit-content;
    /* width: 250px; */
    width: 307px;
    border-bottom-left-radius: 18px;
    height: 87px;
    height: 100px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    
    position: fixed;
    right: 0;
    cursor: pointer;
    
}

.profileIconName{
    color: white;
    vertical-align: middle;
    height: 87px;
    position: absolute;
    font-size: 24px;
    top: 30px;
    left: 34px;
}

.userIcon{
    color: white;
    /* color: #000; */
    font-size: 49px;
    position: fixed;
    right: 0;
    margin-top: 19px;
    margin-top: 25px;
    margin-right: 26px;
}

.faceImg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 40px;
}

.profileName{
    /* vertical-align: middle; */
    /* display: inline; */
    margin-top: 14px;
}

.investedTxt, .passiveIncomeTxt, .referralIncomeTxt{
    border-bottom: #aaa 0.1px solid;
    padding-bottom: 16px;
    font-size: 17px;
    font-weight: 600;
    /* width: fit-content; */
    /* width: 100%; */
    text-align: left;
}
.investedAmt, .passiveIncomeAmt, .referralIncomeAmt{
    font-weight: 500;
}

.faltuDiv{
    margin-top: 43px;
}

.licenseTier{
    font-weight: 600;
    margin-top: 8px;
    margin-top: 14px;
    position: relative;
    /* top: 15px; */
    padding: 10px 20px;
    border-radius: 14px;
    border: #aaa 0.5px solid;
    cursor: pointer;
    min-width: 150px;
    /* border-bottom: #aaa 1px solid; */
}

.licenseLogo{
    color: #FFD700;
    font-size: large;
    vertical-align: middle;
    text-shadow: #000 10px;
}

#referralId{
    font-weight: 500;
}

.transactions{
    background: #0d0933;
    background: #130f40;
    background: #080431;
    overflow-y: auto;
    margin-bottom: 10px;
}

.upperContent{
    display: flex;
    flex-direction: row;
}

.referral{
    cursor: default;
    margin-bottom: 10px;
}

.referralCopyBtn{
    vertical-align: middle;
    /* height: 30px; */
    font-size: 30px;
    margin-top: -2.5px;
    color: white;
    border-left: #aaa 0.1px solid;
    padding-left: 10px;
    margin-left: 10px;
    padding-right: 0;
    margin-right: -4px;
    cursor: pointer;
}

.trxn-td{
    padding: 5px 50px;
}

.transactions::-webkit-scrollbar{
        width: 11px;
        background: rgba(0, 0, 0, 0.452);
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
}

.transactions::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 16px;
}


.referralBox{
    background: #fff;
    padding: 10px 15px;
    color: #080431;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}

.referralBox:hover{
    background: #ccc;
}

.referralBox:active{
    background: #fff;
    font-size: 15.999px;
}

.referLink{
    text-decoration: none;
}