.navbar{
    min-width: 390px;
    background: #fff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    /* margin-right: 10px; */
    margin-right: 6px;
    font-weight: 600;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

}

.navHeading{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.navHeading2{
    color: #361cff;
}

.navList{
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

.navItem{
    font-weight: 600;
    list-style: none;
    font-size: 19px;
    margin-bottom: 20px;
    padding: 17px 40px;
    /* color: #2d11ff; */
    color: #000;
    transition-duration: 200ms;
    cursor: pointer;
    border-radius: 16px;
    /* height: 10px; */
    width: 250px;
}

.navItem:hover{
    color: white;
    background: #361cff;
}

.navLogo{
    font-size: 19px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
}

#logo4{
    /* font-size: 20px; */
}