.navbar{
    /* min-width: 290px; */
    width: 320px;
    background: #fff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    /* margin-right: 10px; */
    margin-right: 6px;
    font-weight: 600;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    text-align: center;
    justify-content: center;
    transition-duration: 200ms;
}

.menuBtn{
    font-size: 28px;
    cursor: pointer;
}

.navHeading{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-top: -80px;
}

.navHeading2{
    color: #361cff;

}

.navList{
    width: fit-content;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-top: -100px;
    text-align: left;
}

.navItem{
    display: block;
    font-weight: 600;
    list-style: none;
    font-size: 19px;
    margin-bottom: 18px;
    padding: 17px 60px;
    /* color: #2d11ff; */
    color: #000;
    transition-duration: 200ms;
    cursor: pointer;
    border-radius: 16px;
    /* height: 10px; */
    /* width: 290px; */
}

.navItem:hover{
    color: white;
    background: #361cff;
    background: #130f40;
}

.navLogo{
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
}

#logo4{
    /* font-size: 20px; */
}

.menuBtn{
    margin: 0;
    padding: 0;
}