.settings{
    background: #fff;
    flex-grow: 1;
    border-radius: 16px;
    margin: 8px;
    margin-left: 0;
    overflow-y: auto;
}
.settings::-webkit-scrollbar{
    width: 7px;
    border-radius: 16px;
    background: #d0d0d0;

}

.bot-name{
    color: #130f40;
    color: #361cff;
}

.robot-icon{
    vertical-align: middle;
    margin-top: -4px;
    font-size: 20px;
}

.current-license{
    cursor: pointer;
}

.settings-inner-div{
    padding: 20px;
}

.bot-settings{
    padding-bottom: 40px;
    border-bottom: #ccc 0.1px solid;
}

.bot-settings-heading{
    margin-left: 20px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 23px;
}

.bots-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bot-item{
    box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.4);
    border-radius: 16px;
    /* box-shadow: 0px 0px 71px -24px rgba(0,0,0,0.75); */
    text-align: center;
    /* border: #aaa 1px solid; */
    padding: 20px 30px;

}

.bot-item-heading{
    font-weight: 600;
}

.bot-item-radio{
    width: 20px;
    height: 20px;
    margin-top: 13px;
    outline: none;
}

.api-settings-heading{
    margin-top: 30px;
}

.choose-bot-btn{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    outline: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-weight: 700;
    border: #130f40 3px solid;
    color: #130f40;
    background: #fff;
    transition-duration: 50ms;
}

.choose-bot-btn:hover{
    background: #130f40;
    color: white;
}

.choose-bot-btn:disabled{
    border: #130f40 3px solid;
    opacity: 0.8;
    cursor: not-allowed;
}
.choose-bot-btn:disabled:hover{
    background: transparent;
    color: #130f40;
}

.api-setings-innerdivs{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    /* margin-bottom: 27px; */
    padding-bottom: 20px;
    border-bottom: 0.001px solid #ddd;
}

.api-settings-label{
    flex-grow: 1;
    margin-left: 40px;
    margin-top: 10px;
}

.api-input{
    margin-right: 30px;
    width: 320px;
    border: 0;
    border-bottom: #aaa 0.1px solid;
    padding: 5px;
    outline: none;
    /* margin-top: -10px; */
}

.long-input{
    width: 650px;
}

.edit-icon{
    justify-self: right;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.api-radio{
    margin: 0;
    /* margin-right: -130px; */
    /* margin-left: -950px; */
    height: 20px;
    width: 20px;
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    margin-top: 10px;
}

.radio-label{
    margin-top: 10px;
}

.api-settings-btn{
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: #130f40 3px solid;
    
}